<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370936315473-n3npe0gbb5nfvjhcn4908l4q24b0679j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370936315473-n3npe0gbb5nfvjhcn4908l4q24b0679j</string>
	<key>API_KEY</key>
	<string>AIzaSyAoP_6J2fWM9IB5aw3-pCW7cI-HD3ImTiU</string>
	<key>GCM_SENDER_ID</key>
	<string>370936315473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNCountries</string>
	<key>PROJECT_ID</key>
	<string>countries-list-65edf</string>
	<key>STORAGE_BUCKET</key>
	<string>countries-list-65edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370936315473:ios:c8e0a96ea62edf66630270</string>
	<key>DATABASE_URL</key>
	<string>https://countries-list-65edf.firebaseio.com</string>
</dict>
</plist>